<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <!-- <route url="/" module="News" action="index" ></route> -->
  <route url="/OCFram/Web/" module="News" action="index" ></route>
  <!-- <route url="/news-([0-9]+)\.html" module="News" action="show" vars="id"></route> -->
  <route url="/OCFram/Web/news-([0-9]+)\.html" module="News" action="show" vars="id"></route>
  <!-- <route url="/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news" ></route> -->
  <route url="/OCFram/Web/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news" ></route>
</routes>